
/* Add a black background color to the top navigation */
.topnav {
  background-color: #151B54;
  overflow: hidden;
  border-color: none !important;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: sans-serif;
  border-color: none !important;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #736AFF;
  color: white;
}
.play{
  background-color: yellow;
  color: black !important;
  font-family: sans-serif;
  float: right !important;
}
.play a{
  color: black!important;
}
.banner{
  background-color: none !important;
  color: none !important;
  border-color: none !important;
}
.ui-header{
  border: none;
}
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
  color: white;
  }
.logo{
  background-color: rgb(25,25,25,1);

}
.lorips{
    width: 80%;
    margin-top: 3%;
    color: #2C3539;
    background-color: white;
    margin-left: 10%;
    float: left;
}
.portrait {
  float: right;
  margin-left: 25;
  width: 250;
  height: 250;
  margin-right: 25;
  margin-top: 25;
  margin-bottom: 25;
}
.linkedin {
  float: right !important;
  padding: 0px 0px !important;
}
.LIicon {
  height: 35;
  width: 35;
  padding: 10px 10px;
}
.ow{
  overflow-wrap: normal;
  word-wrap: normal;
  hyphens: auto;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
